@tailwind base;
@tailwind components;
@tailwind utilities;

/* npm packages */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "bootstrap-icons/font/bootstrap-icons.css";
@import "owl.carousel/dist/assets/owl.carousel.min.css";
@import "owl.carousel/dist/assets/owl.theme.default.min.css";
@import "aos/dist/aos.css";

/* Custom */
.has-announcement { padding-top: 60px; }

.navbar {
  margin-top: 20px ;
}

.faculty-hero {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;


}


@media (max-width: 767.98px) {
    .navbar-brand img {
        height: 90px;
        width: 253px;
        margin: 0px 0px 0px 19px !important;
    }
}